<a href="https://colab.research.google.com/github/anjilakarkigit/discreteMathematics/blob/main/Logic_project7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part 7: CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Logic

### Anjila Karki and 267815

For my project in logic, I will take three different types of food and decide Whether I would eat those or not when I am in Keto diet.I will label True as yes and False as no.

In [ ]:
coke = False
chicken = True
veggies = True

Now, I will computing different truth statement for the above conditions.

$$coke \land veggies$$

In [ ]:
coke and veggies

False

Now,

  $veggies \lor \lnot chicken $

In [ ]:
veggies or not(chicken)

True

Now, 


$veggies\Rightarrow coke$

In [ ]:
not(veggies) or coke

False

So, above I have computed the truth value with the propositions.We can see the truth values of the as true or false.

After, computing the above truth values, I will be creating the truth table for all the propositions above.

In [ ]:
!pip install truth-table-generator
import ttg

Collecting truth-table-generator
  Downloading truth_table_generator-1.1.2.tar.gz (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.3.5)
Collecting PTable
  Downloading PTable-0.9.2.tar.gz (31 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (3.0.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->truth-table-generator) (2.0.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)
Building wheels for collected packages: truth-table-generator, PTable
  Building wheel for truth-table-generator (setup.py) ... done
  Created wheel for truth-table-generator: filename=truth_table_generator-1.1.2-py3-none-any.whl size=13960 sha256=09ca857238da1f720de9c7e72cb29e81c2c62c56bbbcdec7f671b4b7add62e90
  Stored in directory: /root/.cache/pip/wheels/9a/55/b5/77f5756832494eafda92c7a94c1365ac31088a18a3a97dd480
  Building wheel for PTable (setup.py) ... done
  Created wheel for PTable: filename=PTable-0.9.2-py3-none-any.whl size=22925 sha256=dbae2b261bf649847e5ae02a69a761ca7938e0ea92c15a0d670085cb4fd35f9f
  Stored in directory: /root/.cache/pip/wheels/33/df/2f/674985b3f8a2de3f96357d1eadef5110f74fa91b3785e52a54
Successfully built truth-table-generator PTable
Installing collected packages: PTable, truth-table-generator
Successfully installed PTable-0.9.2 truth-table-generator-1.1.2

In [ ]:
table = ttg.Truths(['coke', 'chicken', 'veggies'], ['coke xor chicken', '~(coke xor chicken)', 'chicken or veggies', '(~(coke xor chicken)) => (chicken or veggies)'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

The codding part is kinda hard to comprehend and the result on the truth table are quiet forward.